@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yg-jalnan;
  list-style-type: none;
}
.container {
  border: 1px solid #000;
  min-height: 100vh;
}
.tit-txt {
  font-size: 36px;
  color: tomato;
  border: 1px solid #000;
  width: fit-content;
  margin: 40px auto 0px;
  padding: 20px;
}
.jeju-sec {
  width: 1480px;
  border: 3px solid #000;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.jeju-sec .list-oreum {
  border: 1px solid #000;
  margin: 100px 0;
  float: left;
  width: 254px;
}
.jeju-sec .list-oreum li {
  padding: 12px;
  border: 1px solid #000;
}

.imgBox{
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBox img {
  height: 100%;
  width: 100%;
  border: 1px solid #000;

}




/* footer */
footer {
  border: 5px solid #000;
  background-color: #666;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer h2 {
  width: 1480px;
  border-bottom: 1px solid #999;
}
