@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yg-jalnan;
  list-style-type: none;
}
.ir {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
.container {
  border: 1px solid #000;
  min-height: 100vh;
}
.tit-txt {
  position: relative;
  font-size: 36px;
  color: tomato;
  border: 1px solid #000;
  width: fit-content;
  margin: 40px auto 0px;
  padding: 20px;
}
.tit-txt::before {
  content: "";
  position: absolute;
  /* top: 10%; */
  /* left: 5%; */
  z-index: -10;
  width: 500px;
  height: 700px;
  background-image: url(../img/사람1.png);
  background-size: cover;
}
.jeju-sec {
  width: 1480px;
  border: 3px solid #000;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jeju-sec .list-oreum {
  border: 1px solid #000;
  margin: 100px 0;
  float: left;
  width: 254px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
}
.jeju-sec .list-oreum li {
  position: relative;
  margin: 25px 50px 0;
  padding: 12px;
  height: 400px;
  width: 300px;
  border: 1px solid #000;
  cursor: pointer;
}
.jeju-sec .list-oreum li p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.mapBox {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  display: none;
}

/* pagenation */
.pagination {
  margin: 0 auto;
  position: relative;
  width: fit-content;
  background-color: rgb(26, 14, 14);
  display: flex;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.pagination li {
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}
.pagination li.pageNumber {
  width: 50px;
  height: 50px;
  text-align: center;
}
.pagination li a {
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 600;
  border-radius: 50%;
}
.pagination li.pageNumber:hover a,
.pagination li.pageNumber.active a {
  background-color: #333;
  color: #fff;
}
/* .pagination li:first-child {
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
}
.pagination li:last-child {
  margin-left: 30px;
  font-weight: 700;
  font-size: 20px;
} */

.modal {
  position: relative;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border: 1px solid #000;
  width: 800px;
  border-radius: 0 0 15px 15px;
  color: #fff;
  background-color: #3b3b3b;
  margin: 0 auto;
  height: 800px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
}
.modal .closeBtn{
  right: 1px;
  bottom: 1px;
  position: absolute;
  z-index: 10;
  font-size: 16px;
  box-sizing: content-box;
  padding: 10px 24px;
  border: 2px solid tomato;
  color: tomato;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 15px 3px rgba(255, 255, 255, .2);
}
.modal .mapBox {
  width: 100%;
  height: 70%;
}
.modal .text {
  height: 30%;
  padding: 20px;
}
.modal .text h3 {
  font-size: 1.5em;
}
/* footer */
footer {
  border: 5px solid #000;
  background-color: #666;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer h2 {
  width: 1480px;
  border-bottom: 1px solid #999;
}
