@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yg-jalnan;
  list-style-type: none;
}
.ir {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
.container {
  min-height: 100vh;
  overflow-x: hidden;
}
.logo {
  width: calc(100% - 1100px);
  position: relative;
  display: inline-block;
  padding: 30px;
  height: 220px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  /* background:linear-gradient(  skyblue, #fff); */
  color: #374722;
  vertical-align: bottom;
}
.logo-img {
  position: absolute;
  width: 300px;
  top: -110px;
  left: -110px;
}
.logo h1 {
  font-size: 3em;
  width: fit-content;
  float: right;
}
.logo p {
  float: right;
  width: 350px;
}
.header {
  position: relative;
  width: 1680px;
  margin: 100px auto 0;
  height: 640px;
  border-radius: 0 40px 0 0;
  background: linear-gradient(skyblue, #fff 20%);
}
.header-img {
  width: 1100px;
  height: 100%;
  float: right;
  z-index: 100;
  border-radius: 0 40px 0 0;
  overflow: hidden;
}
.info {
  position: absolute;
  bottom: 10%;
  right: 25%;
  font-size: 1.3em;
  color: #fff;
}
.tit-txt {
  position: absolute;
  font-size: 12em;
  width: 100%;
  height: calc(100% - 220px);
  user-select: none;
  padding: 20px;
}
.tit-txt:nth-child(2) {
  z-index: 10;
  color: #374722;
  background-color: #fff;
  clip-path: polygon(00% 10%, 34.5% 10%, 34.5% 100%, 0% 100%);
}
.tit-txt:nth-child(3) {
  color: #fff;
  -webkit-text-stroke: 5px #374722;
}
.jeju-sec {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(#fff, #333);
}
.jeju-sec .list-oreum {
  float: left;
  width: 254px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
}
.jeju-sec .list-oreum li {
  position: relative;
  margin: 25px 50px 0;
  padding: 12px;
  height: 400px;
  width: 300px;
  border: 1px solid #000;
  cursor: pointer;
  width: 280px;
  height: 300px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transition: 0.2s;
}
.jeju-sec .list-oreum li:hover {
  transform: scale(1.1);
}
.jeju-sec .list-oreum li p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: #374722;
  padding-bottom: 30px;
  transform: translateX(-50%);
}
.list-oreum li .oreum-img {
  width: 100%;
  position: relative;
  border-radius: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  top: 10%;
}
.mapBox {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  display: none;
}

/* pagenation */
.pagination {
  margin: 35px auto;
  position: relative;
  width: fit-content;
  background-color: rgb(26, 14, 14);
  display: flex;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.pagination li {
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}
.pagination li.pageNumber {
  width: 50px;
  height: 50px;
  text-align: center;
}
.pagination li a {
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 600;
  border-radius: 50%;
}
.pagination li.pageNumber:hover a,
.pagination li.pageNumber.active a {
  background-color: #333;
  color: #fff;
}

.modal {
  position: relative;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border: 1px solid #000;
  width: 800px;
  border-radius: 0 0 15px 15px;
  color: #fff;
  background-color: #3b3b3b;
  margin: 0 auto;
  height: 800px;
  z-index: 1000;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
}
.modal .closeBtn {
  right: 1px;
  bottom: 1px;
  position: absolute;
  z-index: 10;
  font-size: 16px;
  box-sizing: content-box;
  padding: 10px 24px;
  border: 2px solid tomato;
  color: tomato;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.2);
}
.modal .mapBox {
  width: 100%;
  height: 70%;
}
.modal .text {
  height: 30%;
  padding: 20px;
}
.modal .text h3 {
  font-size: 1.5em;
}
/* footer */
footer {
  background-color: #666;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
footer h2 {
  width: 100%;
  border-bottom: 1px solid #999;
  padding: 10px;
}
footer a {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer .contact {
  padding: 10px 0;
}
